/* Основные стили для всего документа */
body {
    font-family: Montserrat, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282c34;
    /* Темный фон */
    color: #ffffff;

}

/* Стили для заголовка */
.header {
    background-color: rgba(225, 255, 143, 1);
    /* Зеленый фон */
    padding: 20px;
    width: 100%;
}

.header__content {
    max-width: 700px;
    /* margin-left: 120px;*/
    margin-bottom: 156px;
}

.header__title {
    margin: 0;
    font-size: 64px;
    margin-top: 196px;
    color: #000;
}

.header__description {
    color: #000;
    font-size: 24px;
    max-width: 650px;
    margin-top: 24px;
    margin-bottom: 48px;
}

.header::before {
    content: url(img/star-righte.png);
    position: absolute;
    display: block;
    left: 854px;
    top: -100px;
    z-index: 100;
}

/*звездочки*/
.header__content::after {
    content: '';
    position: absolute;
    background: url('img/Star-left1.png') no-repeat;
    /* Путь к изображению первой звёздочки */
    width: 80px;
    /* Размер звёздочки */
    height: 80px;
    /* Размер звёздочки */
    left: 100px;
    /* Позиция первой звёздочки */
    top: 500px;
    /* Позиция первой звёздочки */
    z-index: 1;
    /* Убедитесь, что звёздочки находятся над фоном */
}

.header__content::after {
    content: '';
    position: absolute;
    background: url('img/Star-left2.png') no-repeat;
    width: 80px;
    height: 80px;
    left: 100px;
    /* Позиция второй звёздочки */
    top: 100px;
    /* Позиция второй звёздочки */
    z-index: 1;
}

.header__content::after {
    content: '';
    position: absolute;
    background: url('img/Star-right-b.png') no-repeat;
    width: 60px;
    height: 60px;
    left: 1200px;
    /* Позиция третьей звёздочки */
    top: 500px;
    /* Позиция третьей звёздочки */
    z-index: 1;
}

.header__content::after {
    content: '';
    position: absolute;
    background: url('img/Star-right-m.png') no-repeat;
    width: 50px;
    height: 50px;
    left: 1200px;
    top: 500px;
    z-index: 1;
}


/* Стили для кнопки начала */
.start-button {
    background-color: black;
    /* Черный фон для кнопки */
    color: white;
    /* Белый текст */
    padding: 19px 72px;
    text-decoration: none;
    border-radius: 60px;
    transition: background-color 0.3s;
}

.header__button {
    font-size: 24px;
}

.start-button:hover {
    background-color: #fdfdfd;
    color: #000;
    border: 2px solid #000;
    /* Чёрная обводка 2 px */
}

/*заголовок*/
.section {
    margin-top: 94px;
    margin-bottom: 72px;
}

.section__title {
    margin-top: 20px;
    font-size: 64px;
}

.section__text {
    font-size: 24px;
    max-width: 670px;
}

/* Стили для секции игр */
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.game-tile {
    display: flex;
    flex-direction: column;
    /* Устанавливаем направление по колонкам */
    justify-content: flex-start;
    /* По умолчанию выравнивание по верху */
    transition: transform 0.3s ease;
    /* Плавный переход при наведении */
}

.game-tile:nth-child(n+4) {
    justify-content: flex-end;
    /* Для нижнего ряда выравнивание по низу */
}

.game-tile:hover {
    transform: scale(1.05);
    /* Увеличение карточки при наведении */
}

.game-info {
    max-width: 378px;
    margin: auto;
    /* Центрирование карточек */
}

.game-info img {
    max-width: 100%;
    /* Убедиться, что изображение вписывается в карточку */
    height: auto;
    /* Сохранять пропорции изображения */
}

/* Спецификация высоты для изображений, если требуется */
.game-info__one, .game-info__three, .game-info__five {
    max-height: 473px;
}

.game-info__two, .game-info__four, .game-info__six {
    max-height: 512px;
}

/*нижняя секция игр*/
.mini-games__title {
    margin-bottom: 72px;
    margin-top: 46px;
    font-size: 64px;
}

.mini-games__info-one {
    max-width: 600px;
    max-height: 500px;
    padding-bottom: 244px;
    padding: 48px;
}

.mini-games__info-three {
    max-width: 600px;
    max-height: 500px;
    padding-bottom: 244px;
    padding: 48px;
}

.mini-games__info-five {
    max-width: 600px;
    max-height: 500px;
    padding-bottom: 244px;
    padding: 48px;
}

.mini-games__game-right {
    background-color: #ffffff;
    border-radius: 30px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    margin-bottom: 32px;
    justify-content: space-between;
}

.mini-games__game {
    background-color: #ffffff;
    border-radius: 30px;
    display: flex;
    gap: 48px;
    margin-bottom: 32px;
}

.mini-games__game-title {
    font-size: 48px;
    padding-top: 48px;
    color: #000;
}

.mini-games__description {
    font-size: 24px;
    color: #000;
    padding-bottom: 36px;
}

.mini-games__play-button {
    background-color: black;
    /* Черный фон для кнопки */
    color: white;
    /* Белый текст */
    padding: 19px 72px;
    text-decoration: none;
    border-radius: 60px;
    transition: background-color 0.3s;
}

.mini-games__play-button:hover {
    background-color: #fdfdfd;
    color: #000;
    border: 2px solid #000;
    /* Чёрная обводка 2 px */
}

/* Стили для футера */
.footer {
    background-color: rgba(189, 237, 53, 1);
    /* Темный фон футера */
    text-align: center;
    padding: 60px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    max-height: 150px;
}

.footer__text {
    margin: 0;
    color: rgb(11, 11, 11);
    font-size: 24px;
}