/* Основные стили для всего документа */
body {
    font-family: Montserrat, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282c34;
    /* Темный фон */
    color: #ffffff;

}

/* Стили для заголовка */
.page-header {
    background-color: rgba(225, 255, 143, 1);
    /* Зеленый фон */
    padding: 20px;
    width: 100%;
}

a {
    text-decoration: none;
}

.page-header__content {
    max-width: 796px;
    /* margin-left: 120px;*/
    margin-bottom: 156px;
}

.page-header__title {
    margin: 0;
    font-size: 64px;
    margin-top: 196px;
    color: #000;
}

.page-header__description {
    color: #000;
    font-size: 24px;
    max-width: 650px;
    margin-top: 24px;
    margin-bottom: 48px;
}

.page-header::before {
    content: "";
    background-image: url(img/Group.svg);
    background-size: contain;
    /* Подгоняет изображения под размеры элемента */
    background-repeat: no-repeat;
    /* Избегает повторения изображений */
    position: absolute;
    width: 1074px;
    /* Ширина согласно макету */
    height: 1100px;
    /* Высота согласно макету */
    opacity: 1;
    /* Полная непрозрачность */
    top: -333.46px;
    /* Вертикальное положение */
    left: 854px;
    /* Горизонтальное положение */
    z-index: 1;
    /* Положение на слое (при необходимости) */
}

/*звездочки*/
.page-header__content::before {
    content: "";
    position: absolute;
    background-image: url('img/Star\ 5.svg');
    background-size: contain;
    background-repeat: no-repeat;
    /* Путь к изображению первой звёздочки */
    width: 37px;
    height: 37px;
    left: 948px;
    top: 538px;
    z-index: 1;
    /* Убедитесь, что звёздочки находятся над фоном */
}

.page-header::after {
    content: "";
    position: absolute;
    background-image: url('img/Star\ 3.svg');
    background-size: contain;
    background-repeat: no-repeat;
    /* Путь к изображению первой звёздочки */
    width: 35px;
    height: 35px;
    left: 156px;
    top: 69px;
    z-index: 1;
}

.page-header__description::before {
    content: "";
    position: absolute;
    background-image: url('img/Star\ 2.svg');
    background-size: contain;
    background-repeat: no-repeat;
    /* Путь к изображению первой звёздочки */
    width: 57px;
    height: 57px;
    left: 63px;
    top: 94px;
    z-index: 1;
}

.page-header__content::after {
    content: "";
    position: absolute;
    background: url('img/Star\ 4.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 83px;
    height: 83px;
    left: 1013px;
    top: 568px;
    z-index: 1;
}

.games-list::after {
    content: "";
    position: absolute;
    background: url('img/Star\ 1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 585px;
    height: 585px;
    left: 1100px;
    top: 830px;
    z-index: -1;
    transform: rotate(7deg);
}

.games-list::before {
    content: "";
    position: absolute;
    background: url('img/Star\ 12.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 55px;
    height: 55px;
    left: 40px;
    top: 1630px;
    z-index: 1;

}

.games-list__section::before {
    content: "";
    position: absolute;
    background: url('img/Star\ 11.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 31px;
    height: 31px;
    left: 25px;
    top: 1570px;
    z-index: 1;
}

.games-list__section::after {
    content: "";
    position: absolute;
    background: url('img/Star\ 6.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 69px;
    height: 69px;
    left: 1400px;
    top: 2465px;
    z-index: 1;
}

.game-card::before {
    content: "";
    position: absolute;
    background: url('img/Star\ 7.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    left: 1350px;
    top: 2430px;
    z-index: 1;
}

.mini-games__info-six::before {
    content: "";
    position: absolute;
    background: url('img/Star\ 8.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 69px;
    height: 69px;
    left: 1390px;
    top: 5700px;
    z-index: 1;
}

.mini-games__info-six::after {
    content: "";
    position: absolute;
    background: url('img/Star\ 10.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 41px;
    height: 41px;
    left: 1350px;
    top: 5750px;
    z-index: 1;
}

/* Стили для кнопки начала */
.start-button {
    background-color: black;
    /* Черный фон для кнопки */
    color: white;
    /* Белый текст */
    padding: 19px 72px;
    text-decoration: none;
    border-radius: 60px;
    transition: background-color 0.3s;
}

.page-header__button {
    font-size: 24px;
}

.start-button:hover {
    background-color: #fdfdfd;
    color: #000;
    border: 2px solid #000;
    /* Чёрная обводка 2 px */
}

/*заголовок*/
.about-section {
    margin-top: 94px;
    margin-bottom: 72px;
}

.about-section__title {
    margin-top: 20px;
    font-size: 64px;
}

.about-section__text {
    font-size: 24px;
    max-width: 670px;
}

/* Стили для секции игр */
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}



main {
    display: flex;
    flex-wrap: wrap;
}

.game-card {
    background-color: #ffffff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    /* Плавный переход при наведении */
}

.games-list__section {
    display: flex;
    align-items: flex-start;
    gap: 32px;
}

.games-list__section-bottom {
    display: flex;
    align-items: flex-end;
    gap: 32px;
}


.games-list__section-bottom:nth-child(n+4) {
    justify-content: flex-end;
    /* Для нижнего ряда выравнивание по низу */
}

.games-list__tile:hover {
    transform: scale(1.05);
    /* Увеличение карточки при наведении */
    transition: transform 0.8s ease;
    /* Плавный переход для трансформации */
}


.game-card__number {
    display: inline-block;
    background-color: rgba(247, 247, 247, 1);
    /* Серый фон */
    color: #000000;
    /* Тёмный текст */
    padding: 8px 16px 8px 10px;
    border-radius: 52px;
    /* Овальная форма */
    font-size: 16px;
    max-width: 108px;
    max-height: 36px;
    margin: 16px 32px;
}


.game-card__heading {
    font-size: 32px;
    color: #000;
    padding: 1px 32px 1px 32px;
    max-width: 300px;
}




/* Спецификация высоты для изображений, если требуется */
.game-card__one, .game-card__three, .game-card__five {
    max-height: 314px;
}

.game-card__two, .game-card__four, .game-card__six {
    max-height: 512px;
}

/*нижняя секция игр*/
.mini-games__title {
    margin-bottom: 72px;
    margin-top: 46px;
    font-size: 64px;
}

.mini-games__info-one {
    max-width: 600px;
    max-height: 500px;
    padding-bottom: 244px;
    padding: 48px;
}

.mini-games__info-three {
    max-width: 600px;
    max-height: 500px;
    padding-bottom: 244px;
    padding: 48px;
}

.mini-games__info-five {
    max-width: 600px;
    max-height: 500px;
    padding-bottom: 244px;
    padding: 48px;
}

.mini-games__game-right {
    background-color: #ffffff;
    border-radius: 30px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    margin-bottom: 32px;
    justify-content: space-between;
}

.mini-games__game {
    background-color: #ffffff;
    border-radius: 30px;
    display: flex;
    gap: 48px;
    margin-bottom: 32px;
}

.mini-games__game-title {
    font-size: 48px;
    padding-top: 48px;
    color: #000;
}

.mini-games__description {
    font-size: 24px;
    color: #000;
    padding-bottom: 36px;
}

.mini-games__play-button {
    background-color: black;
    /* Черный фон для кнопки */
    color: white;
    /* Белый текст */
    padding: 19px 72px;
    text-decoration: none;
    border-radius: 60px;
    transition: background-color 0.3s;
}

.mini-games__play-button:hover {
    background-color: #fdfdfd;
    color: #000;
    border: 2px solid #000;
    /* Чёрная обводка 2 px */
}

/* Стили для футера */
.footer {
    background-color: rgba(189, 237, 53, 1);
    /* Темный фон футера */
    text-align: center;
    padding: 60px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    max-height: 150px;
    margin-top: 144px;
}

.footer__text {
    margin: 0;
    color: rgb(11, 11, 11);
    font-size: 24px;
}

@media(max-width:1024px) {
    .center {
        padding-left: 0;
        padding-right: 0;
    }

    .games-list::after {
        display: none;
    }


    .games-list::before {
        display: none;
    }


    .games-list__section::before {
        display: none;
    }

    .games-list__section::after {
        display: none;
    }

    .game-card::before {
        display: none;
    }

    .mini-games__info-six::before {
        display: none;
    }

    .mini-games__info-six::after {
        display: none;
    }

    .page-header::before {
        content: "";
        position: absolute;
        background-image: url('img/star-mobil.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 224px;
        height: 239px;
        left: 175px;
        top: -10px;
        z-index: 1;
        transform: rotate(5deg);
    }

    .page-header::after {
        content: "";
        position: absolute;
        background-image: url('img/Star\ 3.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 21px;
        height: 21px;
        left: 92px;
        top: 64px;
        z-index: 1;
    }

    .page-header__content::before {
        content: "";
        position: absolute;
        background-image: url('img/Star\ 5.svg');
        background-size: contain;
        background-repeat: no-repeat;
        /* Путь к изображению первой звёздочки */
        width: 18px;
        height: 18px;
        left: 273px;
        top: 557px;
        z-index: 1;
        /* Убедитесь, что звёздочки находятся над фоном */
    }


    .page-header__description::before {
        content: "";
        position: absolute;
        background-image: url('img/Star\ 2.svg');
        background-size: contain;
        background-repeat: no-repeat;
        /* Путь к изображению первой звёздочки */
        width: 35px;
        height: 35px;
        left: 38px;
        top: 97px;
        z-index: 1;
    }

    .page-header__content::after {
        content: "";
        position: absolute;
        background: url('img/Star\ 4.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 39px;
        height: 41px;
        left: 304px;
        top: 580px;
        z-index: 1;
    }



}

@media(min-width:768px) and (max-width:833px) {
    .games-list::after {
        display: none;
    }


    .games-list::before {
        display: none;
    }


    .games-list__section::before {
        display: none;
    }

    .games-list__section::after {
        display: none;
    }

    .game-card::before {
        display: none;
    }

    .mini-games__info-six::before {
        display: none;
    }

    .mini-games__info-six::after {
        display: none;
    }

    .page-header::before {
        content: "";
        position: absolute;
        background-image: url('img/star-mobil.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 224px;
        height: 239px;
        left: 540px;
        top: -10px;
        z-index: 1;
        transform: rotate(1deg);
    }

    .page-header::after {
        content: "";
        position: absolute;
        background-image: url('img/Star\ 3.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 21px;
        height: 21px;
        left: 92px;
        top: 64px;
        z-index: 1;
    }

    .page-header__content::before {
        content: "";
        position: absolute;
        background-image: url('img/Star\ 5.svg');
        background-size: contain;
        background-repeat: no-repeat;
        /* Путь к изображению первой звёздочки */
        width: 18px;
        height: 18px;
        left: 273px;
        top: 557px;
        z-index: 1;
        /* Убедитесь, что звёздочки находятся над фоном */
    }


    .page-header__description::before {
        content: "";
        position: absolute;
        background-image: url('img/Star\ 2.svg');
        background-size: contain;
        background-repeat: no-repeat;
        /* Путь к изображению первой звёздочки */
        width: 35px;
        height: 35px;
        left: 38px;
        top: 97px;
        z-index: 1;
    }

    .page-header__content::after {
        content: "";
        position: absolute;
        background: url('img/Star\ 4.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 39px;
        height: 41px;
        left: 304px;
        top: 580px;
        z-index: 1;
    }

}

@media (max-width:767px) {

    .center {
        padding-left: calc(50% - 188px);
        padding-right: calc(50% - 188px);
    }

    .page-header__content {
        text-align: center;
    }

    .page-header__title {
        font-family: Montserrat;
        font-weight: 700;
        font-style: Bold;
        font-size: 40px;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;
        margin-top: 147px;
    }

    .page-header__description {
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        text-align: center;
        vertical-align: middle;

    }

    .start-button {
        background-color: black;
        /* Черный фон для кнопки */
        color: white;
        /* Белый текст */
        padding: 18px 80px;
        text-decoration: none;
        border-radius: 60px;
        transition: background-color 0.3s;
    }

    .page-header__button {
        font-size: 16px;
        font-weight: 600;
    }

    .games-list__section {
        display: flex;
        align-items: flex-start;
        gap: 32px;
        flex-wrap: wrap;
    }

    .games-list__section-bottom {
        display: flex;
        align-items: flex-start;
        gap: 32px;
        flex-wrap: wrap;
    }



    .about-section__text {
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;

    }

    .games-list__section {
        display: none;
    }

    .games-list__section-bottom {
        display: none;
    }

    .mini-games__title {
        font-weight: 700;
        font-style: Bold;
        font-size: 40px;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;
    }

    .mini-games__play-button {
        font-weight: 600;
    }

    .mini-games__title {
        margin-bottom: 48px;
        margin-top: 48px;
        text-align: left;
    }

    .mini-games__game-title {
        margin-bottom: 10px;
    }


    .about-section {
        display: none;
    }

    .mini-games__game-right {
        background-color: #ffffff;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        transition: transform 0.3s ease;

    }

    .mini-games__game {
        background-color: #ffffff;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        transition: transform 0.3s ease;
    }

    /*убираю звезды*/

    .games-list::after {
        display: none;
    }


    .games-list::before {
        display: none;
    }


    .games-list__section::before {
        display: none;
    }

    .games-list__section::after {
        display: none;
    }

    .game-card::before {
        display: none;
    }

    .mini-games__info-six::before {
        display: none;
    }

    .mini-games__info-six::after {
        display: none;
    }

    /*новые звёзды*/
    .page-header::before {
        content: "";
        position: absolute;
        background-image: url('img/star-mobil.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 224px;
        height: 239px;
        left: 200px;
        top: -10px;
        z-index: 1;
        transform: rotate(359deg);
    }

    .page-header::after {
        content: "";
        position: absolute;
        background-image: url('img/Star\ 3.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 21px;
        height: 21px;
        left: 92px;
        top: 64px;
        z-index: 1;
    }

    .page-header__content::before {
        content: "";
        position: absolute;
        background-image: url('img/Star\ 5.svg');
        background-size: contain;
        background-repeat: no-repeat;
        /* Путь к изображению первой звёздочки */
        width: 18px;
        height: 18px;
        left: 273px;
        top: 557px;
        z-index: 1;
        /* Убедитесь, что звёздочки находятся над фоном */
    }


    .page-header__description::before {
        content: "";
        position: absolute;
        background-image: url('img/Star\ 2.svg');
        background-size: contain;
        background-repeat: no-repeat;
        /* Путь к изображению первой звёздочки */
        width: 35px;
        height: 35px;
        left: 38px;
        top: 97px;
        z-index: 1;
    }

    .page-header__content::after {
        content: "";
        position: absolute;
        background: url('img/Star\ 4.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 39px;
        height: 41px;
        left: 304px;
        top: 580px;
        z-index: 1;
    }

    /*мини игры*/
    .page-header__content {
        max-width: 343px;
        margin-left: 16px;
        margin-bottom: 182px;

    }

    .page-header {
        padding: 1px;
    }

    .mini-games {
        max-width: 343px;
        margin-left: 16px;
    }

    .mini-games__game-title {
        font-size: 32px;
        padding-top: 0px;
        color: #000;
    }

    .mini-games__description {
        font-size: 16px;
        color: #000;
        padding-bottom: 29px;
    }

    .mini-games__info-one {
        max-width: 600px;
        max-height: 400px;
        padding-bottom: 244px;
        padding: 0px 29px 32px 32px;
    }

    .mini-games__play-button {
        background-color: black;
        color: white;
        padding: 18px 112px;
        text-decoration: none;
        border-radius: 60px;
        transition: background-color 0.3s;
    }

    .mini-games__info-two {
        max-width: 600px;
        max-height: 350px;
        padding-bottom: 244px;
        padding: 0px 29px 32px 32px;
    }

    .mini-games__game {
        gap: 0px;
        margin-bottom: 24px;
        padding-bottom: 10px;
    }

    .mini-games__info-three {
        max-width: 600px;
        max-height: 350px;
        padding: 1px 29px 42px 29px;

    }

    .mini-games__info-four {
        max-width: 600px;
        max-height: 350px;
        padding: 1px 29px 42px 29px;
    }

    .mini-games__info-five {
        max-width: 600px;
        max-height: 350px;
        padding: 1px 29px 42px 29px;
    }

    .mini-games__info-six {
        max-width: 600px;
        max-height: 350px;
        padding: 1px 29px 42px 29px;
    }

    .footer {
        margin-top: 10px;
        height: 100px;
        padding: 50px 0;
        max-height: 10px;
    }

    .footer__text {
        font-size: 16px;
    }
}